includes:
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  level: max
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  scanFiles:
    - tools/phpstan/stubs/apiplatform.stub.php
    - tools/phpstan/stubs/graphql.stub.php
    - tools/phpstan/stubs/symfony_form.stub.php
    - tools/phpstan/stubs/symfony_uid.stub.php
